.bg{
    background-color: rgb(227, 240, 240);
    padding: 50px;
    text-align: center;
    background-size: cover;
}
.head{
    font-size: 24px;
    color: rgb(164, 187, 187);
    font-weight: bold;
}
.img{
    height: 350px;
    width: 350px;
    margin: 10px;
}
.paragraph{
    font-size: 18px;
    color:rgba(58, 64, 52, 0.892);
    text-align: justify;
}
.bg2{
    text-align: center;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.bg2 li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.otherhead{
    font-size: 12px;
    color: rgb(136, 209, 209);
    font-weight: bold;
    text-align: center;
}
