.login-bg {
    height: 100vh;
    background-size: cover;
    padding: 20px;
    font-size: 25px;
}
.login-heading {
    font-family: "Bree Serif";
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    margin: 30px;
    color: #c7eb23;
}
.login-container{
    margin-left: 870px;
}
.login-button {
    height: 30px;
    width: 150px;
    margin-top: 50px;
    font-family: "Bree Serif";
}
.register-bg {
    background-size: cover;
    padding: 20px;
    color: #ffffff;
    height: 100vh;
    font-size: 25px;
}

.register-heading {
    font-family: "Bree Serif";
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 30px;
    color: rgb(62, 104, 182);
}


.register-button {
    height: 40px;
    width: 150px;
    margin-top: 50px;
    margin-left: 870px;
    font-family: "Bree Serif";    
}
.forms{
    text-align: center;
}

.mainh{
    text-align: center;
    color: rgb(52, 9, 171);
}
